/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Body styles */
body {
    background-color: rgb(0, 0, 0);
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar styles */
.navbar {
    margin-bottom: 1rem;
    background-color: #ffffff;
}

.navbar-brand {
    font-size: 1.2rem;
    color: #000;
}

/* Header Logo Styles */
.header-logo {
    text-align: center;
    margin-bottom: 1rem;
    background-color:rgb(251, 251, 251);
}

.header-logo img {
    height: 200px;
    width: auto;
}

/* Main content styles */
main {
    padding: 2rem 0;
    flex: 1; /* Allow main to grow and fill available space */
}

/* Footer styles */
footer {
    background-color: #3586ff;
    color: #fff;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 8%;
}

footer p {
    margin: 15px 0;
    font-size: 1rem;
    font-weight: 300;
}

/* Social and menu items in footer */
.social-icon,
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: opacity 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}





